@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

.card {
    font-family: Ubuntu Condensed;
    display: flex;
    flex-wrap: wrap;
}
.card__title {
    font-family: Ubuntu Condensed;
    font-size: 36px;
}
.card__text {
    font-family: Ubuntu Condensed;
    justify-content: right;
    p {
        font-weight: bold;
    }
}
.photo__container{
    height: 250px;
    width: 300px;
    background-size: contain;;
    margin-left: 35%;
    border-radius: 10%;
    margin-bottom: 25px;
}
.overlay {
    position: fixed;
    top: 40;
    left: 40;
    right: 40;
    bottom: 40;
    background: rgba(0, 0, 0, 0.6);
}
.modal__explore {
    position: absolute;
    max-width: 100%;
    z-index: 1;
    top: 70px;
    left: 30px;
    right: 30px;
    bottom: 40px;
    background-color: white;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.modal__explore::-webkit-scrollbar {
    display: none;
}