@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
.form__wrapper {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2{
        font-family: Roboto Slab;
        padding-top: 5%;
        align-items: center;
    }
}
.modal__label{
    font-weight: 600;
}
.pantry__input{
    width: 12.75em;
    height: 0.85em;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
}
.pantrybtn {
    width: 5rem;
    border: solid 2px #000;
    background: transparent;
    padding: 0.4rem 0.8rem;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
    cursor: pointer;
        &:hover {
        background: #000;
        color: #fff;
        }
}

.pantry__card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 0 20px 20px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
        h5{
            text-align: center;
        }
}
.pantry__container {
    margin: 0px 40px 0px 40px;
}
.pmodal__explore {
    position: absolute;
    max-width: 30%;
    z-index: 1;
    top: 70px;
    left: 430px;
    right: 430px;
    bottom: 40px;
    background-color: white;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.pmodal__explore::-webkit-scrollbar {
    display: none;
}