@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
.main__search {
    min-width: 42.75em;
    height: 2.85em;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    margin-top: 30%;
    margin: 0 auto;
    padding: 15px;
}
.roulette__title {
    padding-left: 30%;
    padding-bottom: 25px;
    font-family: Ubuntu Condensed;
}
