@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
.recipe {
    font-family: Roboto Slab;
    display: flex;
    flex-direction: column;
    background: #fff;
    text-transform: capitalize;
    -webkit-box-shadow: -2px 0px 10px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -2px 0px 10px -1px rgba(0, 0, 0, 0.6);
    box-shadow: -2px 0px 10px -1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: relative;
    transition: all 0.3s;
    &:hover {
    transform: scale(1.05);
    }

&__img {
    width: 50%;
    border-radius: 5%;
}

&__box {
    padding: 0 1.5rem;
    display: flex;
}

&__title {
    font-size: large;
    padding-top: 5%;
    font-family: Roboto Slab;
}

&_text {
    font-family: Roboto Slab;
    width: 100%;
    
}

&__button {
    max-width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 90px;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 2px;
    position: absolute;
    bottom: 18px;
    left: 22px;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    }
}
}
.small__text {
    padding-top: 5%;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: baseline;
}