@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
.nav {
    background-color: rgba(149,225,48, 0.45);
    color: white;
    display: flex;
    padding: 10px;
    width: 100vw;
    height: 80px;

}
.nav__wrapper {
    display: flex;
    width: 100%;
    h4 {
        font-family: 'Unica One';
    }
}
